$theme: #024a8e;
$theme_light: #2e59a3;
$background: #e9f0f5;
$box_shadow: rgba(0, 0, 0, 0.1) 0px 0.25rem 0.25rem;
$table_head_bg: #f1f3f9;
$table_body_striped_bg: #f7fafc;
$bg_img: url("/public/imgs/logos.png");

$notfound: #aaaaaa;
$error: #fa5b5a;
$error_dark: #aa3e3e;
$warning: #e8de65;
$warning_dark: #b1a84b;
$warning_text: #d3c100;
$success: #46bb7d;
$success_dark: #358d5e;
$grey: #d5d5d5;

// Sidebar
$sidebar-background: #ffffff;
$header_background: #ffffff;
$header_active: #4a4a4a;
